.venv
.idea
.env.local
dbt_venv
airflow.cfg

!storage/.gitkeep
storage/zip/*
!storage/zip/.gitkeep
storage/extracted/*
!storage/extracted/.gitkeep
logs/*
!logs/.gitkeep
dbt/target/*
!dbt/target/.gitkeep
dags/__pycache__
dags/include/__pycache__
db/data/*
!db/data/.gitkeep

