.venv
.idea
.env.local

storage/*
!storage/.gitkeep
storage/zip/*
!storage/zip/.gitkeep
storage/extracted/*
!storage/extracted/.gitkeep
logs/*
!logs/.gitkeep
dags/__pycache__
dags/include/__pycache__

