.venv
.idea
.env.local
dbt_venv

!storage/.gitkeep
storage/zip/*
!storage/zip/.gitkeep
storage/extracted/*
!storage/extracted/.gitkeep
logs/*
!logs/.gitkeep
dags/__pycache__
dags/include/__pycache__

